<% content_for :body_class, "page-container-bg-solid" %>

<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="page-content-inner">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="portlet light">
            <div class="portlet-title tabbable-line">
              <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">
                  <%= t "setdating.title" %>
                </span>
              </div>
            </div>
            <div class="portlet-body">
              <!-- BEGIN REGISTRATION FORM -->
              <form class="register-form" action="index.html" method="post">
                <p class="hint">
                  <%= t "setdating.desc" %>
                </p>
                <div class="form-group">
                  <label class="bold">
                    <%= t "setdating.height" %>
                    <%= Settings.cm %>
                  </label>
                  <input type="number" class="form-control">
                </div>
                <div class="form-group">
                  <label class="bold">
                    <%= t "setdating.weight" %>
                    <%= Settings.kg %>
                  </label>
                  <input type="number" class="form-control">
                </div>
                <div class="form-group">
                  <label class="bold">
                    <%= t "setdating.prefer_gender" %>
                  </label>
                  <select name="gender" class="form-control">
                    <option value=""><%= t "signup.male" %></option>
                    <option value="AF"><%= t "signup.female" %></option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="bold">
                    <%= t "setdating.age_range" %>
                  </label>
                  <div id="age_slider"></div>
                  <%= hidden_field_tag :start_age %>
                  <%= hidden_field_tag :end_age %>
                </div>
                <div class="form-group">
                  <label class="bold">
                    <%= t "signup.company" %>
                  </label>
                  <input class="form-control placeholder-no-fix" type="text"/>
                </div>

                <div class="form-group">
                  <label class="bold">
                    <%= t "setdating.location" %>
                  </label>
                  <input class="form-control placeholder-no-fix" type="text"/>
                </div>
                <div class="form-group">
                  <label class="bold">
                    <%= t "setdating.distance" %>
                    <%= Settings.km %>
                  </label>
                  <input class="form-control placeholder-no-fix" type="number"/>
                </div>
                <div class="form-actions">
                  <button
                    type="submit"
                    class="btn btn-success uppercase"
                  >
                    <%= t "button.submit" %>
                  </button>
                  <button
                    type="button"
                    class="btn green btn-outline"
                  >
                    <%= t "button.cancel" %>
                  </button>
                </div>
              </form>
              <!-- END REGISTRATION FORM -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
