<li>
  <div class="row">
    <div class="<%= select_class_message message, user %>">
      <%= message.body %>
    </div>
    <div class="clear_both"></div>
    <small class="date_message <%=  text_class_message message, user %>"> <%= seen_at_display message, user %> <%= show_time_message message %></small>
  </div>
</li>
