<% content_for :body_class, "page-container-bg-solid" %>

<div class="page-content">
  <div class="container">
    <div class="page-content-inner">
      <div class="row">
        <div class="col-md-6">
          <div class="portlet light">
            <div class="portlet-title tabbable-line">
              <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">
                  <%= t "match.name" %>
                </span>
              </div>
            </div>
            <div class="portlet-body">
              <%= render "form" %>
              <hr>
              <div class="row">
                <% @users.includes(:images).each do |user| %>
                  <div class="col-md-6">
                    <div class="col-md-8" >
                      <%= link_to user.name, match_path(user)%> </div>
                      <%= link_to conversations_path(user_id: user, seen_time: Time.now), remote: true, "data-toggle": "tooltip",title: t("match.tooltip.chat"), method: :post do %>
                        <button class="btn btn-success btn-xs btn-chat" > <i class="fa fa-wechat"></i></button>
                      <% end %>
                      <%= link_to match_path(user), "data-toggle": "tooltip",title: t("match.tooltip.disable_match"), method: :delete, data: { confirm: t("confirm.sure")} do %>
                        <button class="btn btn-danger btn-xs btn-chat" > <i class="fa fa-times" aria-hidden="true"></i></button>
                      <% end %>
                    <div class="flexslider">
                      <ul class="slides">
                        <% user.images.each do |img| %>
                          <li>
                            <%= image_tag img.link.url, class: "images img_slide"%>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
              <%= paginate @users, theme: "twitter-bootstrap-3" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portlet light">
            <div class="portlet-title tabbable-line">
              <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">
                  <%= t "match.chat" %>
                </span>
              </div>
            </div>
            <div class="row">
              <ul id="conversations-list">
                <%= render partial: "conversations/conversation", collection: @conversations, as: :conversation, locals: {user: current_user} %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
