<p><%= t "hello" %> <%= @resource.name %>!</p>

<p><%= t "mailer.text1" %></p>

<p><%= link_to t("mailer.change_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "mailer.text2" %></p>
<p><%= t "mailer.text3" %>></p>
