<div class="page-header">
  <div class="page-header-top">
    <div class="container">
      <div class="page-logo">
        <%= link_to root_path, id: "logo" do %>
          <%= image_tag "logo_perfect.png" %>
        <% end %>
      </div>
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <% unless signed_in? %>
            <%= link_to sign_in_path do %>
              <button type="button" class="btn green uppercase">
                <%= t "login.title" %>
              </button>
            <% end %>
          <% else %>
            <%= link_to "", href:"#", class:"menu-toggler" %>
            <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" id="notification-counter">
                <%= render partial: "layouts/count_notification", locals: {count_notification: @notifications.size} %>
              </a>
              <%= render partial: "layouts/notification_box", locals: {notifications: @notifications} %>
            </li>
            <li class="dropdown dropdown-user dropdown-dark">
              <%= link_to "", href: "#", class: "dropdown-toggle", data: {toggle: "dropdown", hover: "dropdown", "close-others": "true"} do %>
                <% if current_user.avatar.present? %>
                  <%= image_tag current_user.avatar.url, class: "img-circle" %>
                <% elsif current_user.image_sc.present? %>
                  <%= image_tag current_user.image_sc, class: "img-circle" %>
                <% end %>
                <span class="username username-hide-mobile"><%= current_user[:name] %></span>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-default">
                <li>
                  <%= link_to new_dating_information_path do %>
                    <i class="fa fa-user-o"></i> <%= t "header.menu.profile" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to images_path do %>
                    <i class="fa fa-file-photo-o"></i> <%= t "header.menu.album" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "", href:"#" do %>
                      <i class="fa fa-envelope-open-o"></i> <%= t "header.menu.inbox" %>
                      <span class="badge badge-danger"> <%= t "header.notifications.badge-default" %> </span>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fa fa-key"></i> <%= t "header.menu.log-out" %>
                    <% end %>
                  </li>
                </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-header-menu">
    <div class="container">
      <div class="hor-menu">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to t("header.sub-menu.suggestion"), suggest_users_path %>
          </li>
          <li>
            <%= link_to t("header.sub-menu.match"), matches_path %>
          </li>
          <li class="menu-dropdown mega-menu-dropdown  ">
            <%= link_to t("header.sub-menu.review"), review_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
