<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/shrim" %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="<%= yield :body_class %>">
    <div id="wrap">
      <div id="content">
        <div class="container">
          <div class="row">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
